@import '../../sass/vars.scss';

table{
    width: auto;
    border: 1px solid #ffffff;
    color:#52555F;
}

th,td{
    height: 40px;
    text-align: left;
}

th{
    background-color: $backgroundColor;
    border: 1px solid #ffffff;
}

td{
    padding-left: 10px;
    background-color: #ffffff;
    border: 1px solid $backgroundColor;
}

.btn {
    border: none;
    background-color: inherit;
    background-image: url('../../images/delete.svg');
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
