@import '../../sass/vars.scss';

@media screen and (min-width: $mobile) {
    .headerWrapper {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 19px;
    }
}
@media screen and (min-width: $tablet) {
    .headerWrapper {
        padding: 12px 26px;
    }
    .userMenuCont {
        display: block;
    }
}
@media screen and (min-width: $desktop) {
    .headerWrapper {
        padding-right: 55px;
    }
}
