.categories {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/background-desktop.png);
}

.dataline {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 600px;
    border: solid 1px #ffffff;
    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
    margin: 15px auto;
}

.dataline_block {
    justify-content: center;
    text-align: center;
}

.dataline_label {
    width: 100%;
    font-weight: bold;
}

.dataline_expenses,
.dataline_income {
    width: 100%;
}

.dataline_expenses {
    color: #e53935;
}

.dataline_income {
    color: #407946;
}

.datalineJumper {
    border-left: solid 1px #e0e5eb;
    height: 70.5px;
    width: 1px;
}

.expencesBlock {
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 20px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.chartBlock {
    width: 100%;
    margin: 0 auto;
}
